.rightpane{
    background: #15202B;
    border-left: 1px solid #38444D;
    min-height: 100vh;
}

button i svg{
    height: 1.5em;
    color: #8899a6;
    
}

.input{
    background: #253341;
    display: flex;
    width: 20em;
    height: 2.7em;
    border-radius: 2em;
    margin-top: 0.5em;
    margin-left: 2em;
    align-items: center;
   
    &:focus{
        border: 1px solid#1DA1F2;
    }
input{
    width: 23em; 
    height: 2em;
    font-size: 0.7em;
    color: #fff;
 }

 button{
     padding: 1em;

     }
 ::placeholder{
     color: #8899a6;
     font-size: 1.3em;
     text-align: justify;
 }
    button,
    input{
        background: unset;
        border: unset;
        outline: unset;
    }
}


.mightLike{
    background: #192734;
    height: 20em;
    width: 76%;
    border-radius: 1.2em;
    margin-top: 1.2em;
    margin-left: 2em;

    h2{
        color: #fff;
        font-weight: 700;
        padding:1em 0 1.5em 1em;
        height: 0.2em;
        font-size: 1.1em;
    }
    div.accounts{
        width: 100%;
        
        button.div{
            display: flex;
            align-items: center;
            border-top: 1px solid #38444D;
            width: 100%;
            cursor: pointer;
      
            &:hover{
                background: #202E3A;
            }
           
         
            .photo{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em -0.7em 1em 1em;
            }

       
            img{
                height: 4em;
                border-radius: 100%;
            }
            .names{
                display: grid;
                grid-template-columns: 1fr;
                margin-left: 1.4em;

                .username{
                    color: #738390;
                    font-size: 0.8em;
                    margin-left: -2.9em;
                }
                .name a{
                    display: flex;
                    color: #ffffff;
                    font-size: 1em;
                    font-weight: 700;
                    text-decoration: none;
                  
                    &:hover {
                        text-decoration: underline;
                    }
                    span svg {
                        height: 1.3em;
                        margin-left: 1px;
                        color: #ffffff;
                        
                    }
                    
                    
                }
            }
         }
        }
    
}


div.follow{
    border-top: none;
    right: 7em;
    position: fixed;


    button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1DA1F2;
    color: #1DA1F2;
    font-size: 1.2em;
    font-weight: 700;
    width: 5.3em;
    height: 2em;
    border-radius: 2.5em;
    cursor: pointer;

    &:hover{
        background: #20394D;
    }
    }
}

button.Div{
    display: flex;
    align-items: center;
    border-top: 1px solid #38444D;
    width: 100%;
    height: 3.4em;
    cursor: pointer;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    &:hover{
        background: #202E3A;
    }
 
    h3{
        color: #1B8ACE;
        font-weight: bolder;
        padding:1em 1em;
        font-size: 1.2em;
        }
 }
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    position: relative;
    right: -3px;
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Font_Awesome_5_solid_times.svg) no-repeat 50% 50%;
    background-size: 45%;
    background-color: #1DA1F2;
  }